input[type="text"],
button {
    width: 100%;
}

.checkbox-container {
    height: 53px;
}

.form input[type="checkbox"] {
    transform: scale(1.5);
}

#booksContainer .four,
#booksContainer .one {
    height: 36px;
    margin-top: 8px;
}

.one {
    display: flex;
    justify-content: center;
}